@model CheeseMVC.ViewModels.ViewMenuViewModel

@{
    ViewBag.Title = Model.Menu.Name;
}

<h2>View Menu</h2>

<ul>
    @foreach(var cheeseMenu in Model.Items)
    {
        <li>@cheeseMenu.Cheese.Name</li>
    }

</ul>

<a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add a Cheese to the Menu.</a>